body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f9ff;
  color: #0A2540;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* SECTION */
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;

  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  background: #1E90FF;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

/* TIMELINE */
.step {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid #1E90FF;
}

/* COUNTER */
.counter {
  font-size: 30px;
  font-weight: bold;
  color: #1E90FF;
}

/* KONTAK */
.kontak {
  background: #eaf4ff;
  text-align: center;
  padding: 50px;
  border-radius: 12px;
}

.btn-wa {
  background: #25D366;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
}

/* FLOAT WA */
.float-wa {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}

/* SMOOTH */
html {
  scroll-behavior: smooth;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    color: white;
  }

  #menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  #menu.active {
    display: flex;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 60px 20px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .btn, .btn-wa {
    width: 100%;
  }
}
